.header {
  color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.header__menu {
  margin-right: 50px;
}

.header__list {
  margin-right: 50px;
}

.header__list:nth-child(3) {
  margin-right: 0;
}

.header__link {
  display: block;
  padding: 32px 0px 32px 0px;
  position: relative;
}

.header__svg {
  fill: currentColor;
  margin-right: 10px;
}

.header__menu .header__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu .header__link:hover,
.header__menu .header__link:focus {
  color: var(--color-for-buttons);
}

.header__menu .header__link.current {
  color: var(--color-for-buttons);
}

.current::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  background-color: var(--color-for-buttons);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

/* contacts nav */
.header__communications {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
}

.header__communications .header__list + .header__list {
  margin-left: 50px;
}

.header__contacts {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:focus,
.header__contacts:hover {
  color: var(--color-for-buttons);
}

.benefits-container__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-container__element {
  max-width: 270px;
  justify-content: center;
  margin-right: auto;
}

.benefits-container__element:last-child {
  margin-right: 0;
}

.benefits-container__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 10px;
}

.benefits-container__text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
}

.benefits-container__svg {
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.adress {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0px 60px 0px;
}

.footer-container__list {
  margin-top: 9px;
}

.footer-container__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-container__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.footer-social {
  box-sizing: border-box;
  display: block;
  margin-left: 70px;
}

.footer-social__list {
  display: flex;
  list-style: none;
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover {
  background-color: var(--color-for-buttons);
  color: white;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social__items {
  margin-right: 10px;
}

.footer-social__items:last-child {
  margin-right: 0px;
}

.footer-input {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer-input__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
}

.footer-input__form {
  display: flex;
}

.footer-input__line {
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  display: flex;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.3);
}

.footer-input__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
  margin-right: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.footer-input__icon {
  margin-left: 10px;
}

.hero-section {
  background-color: #2f303a;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
}

.hero-secion__title {
  margin-top: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.hero-secion__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: var(--main-text-color);
}

.logo-part {
  color: #2196f3;
  margin-top: 60px;
}

.logo-link {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo-footer {
  color: white;
}

.clients-section {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.clients-container__title {
  font-weight: 700;
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients-container__list {
  display: flex;
}

.clients-container__items {
  margin-left: 30px;
}

.clients-container__items:first-child {
  margin-left: 0px;
}

.clients-container__link {
  border: 1px solid #afb1b8;
  text-align: center;
  fill: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-property: fill, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-container__link:hover {
  border: 1px solid #2196f3;
  fill: var(--color-for-buttons);
}

.team-section {
  background-color: #f5f4fa;
  padding: 94px 0px 94px 0px;
}

.team-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.team-container__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-container__list {
  display: flex;
  padding-left: 0;
  margin: 0;
  justify-content: center;
}

.team-description__item {
  margin-right: 10px;
}

.team-description__item:nth-child(4n) {
  margin-right: 0px;
}

.team-container__card {
  margin-left: 30px;
  width: 270px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container__card:first-child {
  margin-left: 0;
}

.team-container__card:nth-child(4n) {
  margin-right: 0;
}

.team-description {
  padding: 30px 0px 30px 0px;
}

.team-description__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-description__job {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-description__list {
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}

.team-description__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  background-color: white;
  justify-content: center;
  display: flex;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team-description__link:hover {
  background-color: var(--color-for-buttons);
  color: white;
}

.team-description__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

:root {
  --main-text-color: #212121;
  --secondary-color: #757575;
  --color-for-buttons: #2196f3;
}

body {
  color: #212121;
  font-family: Roboto, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

p,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

textarea {
  resize: none;
}

.sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.cursor {
  cursor: pointer;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.button-portfolio {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus,
.button-portfolio:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: white;
}

.modal__button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal__x {
  fill: black;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closing {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__closing:hover .modal__x {
  fill: var(--color-for-buttons);
}

.modal__closing:focus .modal__x {
  fill: var(--color-for-buttons);
}

.directions-section {
  margin: 0px 0px 94px 0px;
}

.directions-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.directions-container__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.directions-container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.directions-container__item {
  margin-right: 30px;
}

.directions-container__item:last-child {
  margin-right: 0;
}

.project-img {
  display: block;
}

.directions-description {
  position: relative;
  margin: 0;
}

.directions-description__text {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  height: 581px;
  width: 528px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__icon {
  position: relative;
}

.agreement-field__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.agreement-field__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-field__text:hover {
  border-color: var(--color-for-buttons);
}

.agreement-field__checkbox:checked + .agreement-field__text:before {
  background-image: url(../images/agree.svg);
  background-color: var(--color-for-buttons);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--color-for-buttons);
}

.agreement-field {
  margin-bottom: 10px;
}

.agreement-field__text:before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 25%;
  margin-right: 8px;
}

.agreement-field__link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-for-buttons);
}

.checkbox-border {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__input {
  display: flex;
  align-items: center;
  width: 448px;
  position: relative;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 35px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover,
.modal__input:focus {
  border-color: var(--color-for-buttons);
  outline: none;
}

.modal__input:hover + .modal__svg {
  fill: #188ce8;
}

.modal__input:hover,
.modal__input:focus + .modal__svg {
  fill: #188ce8;
}

.modal__svg {
  position: absolute;
  fill: black;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 448px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:hover,
.modal__textarea:focus {
  outline: none;
  border-color: var(--color-for-buttons);
}

.agreement-field__link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-for-buttons);
}

.input-name {
  margin-left: 40px;
  margin-top: 12px;
  margin-bottom: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */