.benefits-container {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.benefits-container__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits-container__element {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.benefits-container__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 10px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.benefits-container__text {
  color: $secondaryColor;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.benefits-container__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  height: 120px;
  justify-content: center;
  margin-bottom: 30px;
}
