.logo {
  color: var(--main-text-color);
}

.logo-part {
  color: #2196f3;
  margin-top: 60px;
}

.logo-link {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}
.logo-footer {
  color: white;
}
