.logo__part {
  color: #2196f3;
  margin-top: 60px;
}

.logo__part--reverse {
  color: white;
}

.logo__part--color {
  color: black;
}

.logo {
  text-decoration: none;
  font-family: $fontLogo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
