:root {
  --main-text-color: #212121;
  --secondary-color: #757575;
  --color-for-buttons: #2196f3;
}

body {
  color: $mainColor;
  font-family: $mainFont;
}
ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
p,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.cursor {
  cursor: pointer;
}
