.header__nav {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.header__menu {
  margin-right: 50px;
}

.header__list {
  margin-right: 50px;
}

.header__list:nth-child(3) {
  margin-right: 0;
}

.header__link {
  display: block;
  padding: 32px 0px 32px 0px;
  position: relative;
}

.header__svg {
  fill: currentColor;
  margin-right: 10px;
}

.header__menu .header__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu .header__link:hover,
.header__menu .header__link:focus {
  color: var(--color-for-buttons);
}
.header__menu .header__link.current {
  color: var(--color-for-buttons);
}

.current::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  background-color: var(--color-for-buttons);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

/* contacts nav */
.header__communications {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
}
.header__communications .header__list + .header__list {
  margin-left: 50px;
}

.header__contacts {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:focus,
.header__contacts:hover {
  color: var(--color-for-buttons);
}
