.header__nav {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.header__list {
  margin-right: 50px;
  &:nth-child(3) {
    margin-right: 0;
  }
}

.header__link {
  display: block;
  padding: 32px 0px 32px 0px;
  position: relative;
}

.header__svg {
  fill: currentColor;
  margin-right: 10px;
}

.header__menu {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 50px;
  color: $mainColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubicBeizer;
}

.header__link {
  @extend .header__menu;
  margin-right: 0;

  .header__menu &:hover,
  .header__menu &:focus {
    color: $buttonsColor;
  }
  .header__menu &.current {
    color: $buttonsColor;
  }
}

.current::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  background-color: $buttonsColor;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

/* contacts nav */
.header__communications {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;

  & .header__list + .header__list {
    margin-left: 50px;
  }
}

.header__contacts {
  color: $secondaryColor;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubicBeizer;

  &:focus,
  &:hover {
    color: var(--color-for-buttons);
  }
}
