$mainColor: #212121;
$secondaryColor: #757575;
$buttonsColor: #2196f3;
$backgroundColor: #ffffff;
$backgroundfooterColor: #2f303a;
$cubicBeizer: cubic-bezier(0.4, 0, 0.2, 1);
$footerColor: #2f303a;
$footerButtonsColor: rgba(255, 255, 255, 0.1);
$mainFont: Roboto, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
$fontLogo: Raleway, sans-serif;
